h1 {
    color: red
}

img {
    width: 400px; 
}

#thirdDiv {
    height: 500px;
    width: 600px;
    background-color: black;
    padding: 50px;
    border: 5px solid goldenrod;
}

#spanId {
    font-size: 18px ;
    margin: 50px ;
}